<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>LendMe</title>
  </head>
  <body>
    <div id="container">
      <div id="lender">
        <h3 class='title'>Lender</h4>
        <form class="form-horizontal" role="form" action="/online_lending/create_lender" method="post">
          <%= token_tag nil %>
          <div class="form-group">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="lender[first_name]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="lender[last_name]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="lender[email]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" name="lender[password]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Money:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="lender[money]">
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </div>
        </form>
        <a href="/online_lending/login">Already a member?</a>
      </div>
      <div id="borrower">
        <h3 class='title'>Borrower</h4>
        <form class="form-horizontal" role="form" action="/online_lending/create_borrower" method="post">
          <%= token_tag nil %>
          <div class="form-group">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" name="borrower[first_name]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" name="borrower[last_name]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="borrower[email]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" name="borrower[password]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Need Money For:</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" name="borrower[purpose]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" name="borrower[description]" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Amount Needed:</label>
            <div class="col-sm-10">          
              <input type="number" class="form-control" name="borrower[money]" >
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Register</button>
            </div>
          </div>
        </form>
        <a href="/online_lending/login">Already a member?</a>
    </div>
  </body>
</html>
